td, th {
    border: 1px solid black;
  }
  
  .done {
    color: lightgray;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 25px;
  }
  
  th {
    background-color: lightgrey;
  }
  
  .zebra {
    background-color: lightyellow;
  }